#input_box {
    dock: bottom;
    height: 20%;
    width: 100%;
    margin: 0 0 2 0;
    align_horizontal: center;
    align_vertical: middle;
}

#message_input {
    width: 70%;
    height: 100%;
    background: #343a40;
    border: ascii;
}

#send_button {
    height: 100%;
    width: 2%;
}